LogicPOS.UI/Service References/ServiceReference/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/logicpos.financial.service.Objects.Modules.AT" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/logicpos.financial.service.Objects.Modules.AT" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServicesATSoapResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATDocCodeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnRaw" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicesATSoapResult" nillable="true" type="tns:ServicesATSoapResult" />
</xs:schema>